@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333333;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    border-bottom: 2px solid #2ecc71;
    margin-bottom: 1em;
}
h3{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #2ecc71;
    border-bottom: 1px solid #333333;
    transition: all .4s ease;
}
a:hover {
    color: #0056b3;
    border-bottom: 1px solid #0056b3;
    text-decoration: none !important;
}
/* Header styles */
header{
    height: 150px;
    background-color: #eeeeee;
}
header.fixed {
	position: fixed;
        z-index: 9999;
        height: 85px;
        
}
header.fixed .menu-container {
    margin-top: 10px;
}
header.fixed .logo-container img {
    height: 75px;
    margin-top: 5px;
}

nav li{
    display: inline-block;
}
nav a {
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #eeeeee;
    border-bottom: 2px solid #2ecc71;
    text-transform: uppercase;
    color: black;
}
nav a:hover {
    border-bottom: 2px solid #0056b3;
    background: rgba(238, 238, 238, 0.5);
    color: #0056b3;
}

header .menu-container{
    margin-top: 80px;
}
.logo-container{
    text-align: center;
}
.logo-container img{
    height: 120px;
    margin-top: 15px;
}
.toggle-nav {
    font-size: 3em;
    background: transparent;
    color: #2ecc71;
    line-height: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 100;
    background: #eeeeee;
}

.wrapper {
    position: relative;
    box-shadow: 0 0 1em #333333;
}

.wrapper section {
    position: relative;
    background: #eeeeee;
}
.wrapper section article {
    width: 50%;
    margin: 0 auto;
    padding: 2em 0;
}
.wrapper section article p {
    margin-bottom: 1em;
}
.wrapper section article p:last-of-type {
    margin-bottom: 0;
}
.wrapper section:after {
    content: "";
    display: block;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30em;
    width: 100%;
}
.wrapper section:nth-child(1):after {
    background-image: url("src/fondo.jpg");
}
.wrapper section:nth-child(2):after {
    background-image: url("src/fondo2.jpg");
}
.wrapper section:nth-child(3):after {
    background-image: url("src/descarga.jpeg");
}
.wrapper section:nth-child(4):after {
    background-image: url("http://cdn.eyeem.com/thumb/h/800/704e38b95cb808b0df338a9661007f93ce3bed98-1348321831");
}
.wrapper section:nth-child(5):after {
    background-image: url("http://cdn.eyeem.com/thumb/h/800/20b3440516db8c8df4490b17ba3109d91c07f839-1348321287");
}
/** Products and services **/
.services-list, .products-list{
    margin-top: 15px;
}
.services-detail, .product-detail{
    text-align: center;
    padding: 5px;
}
.services-detail img, .product-detail img{
    width: 250px;
}
.product-detail img{
    width: 150px;
}
footer{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
     background-color: #eeeeee;
}
footer p{
    font-weight: 300;
    font-size: 25px;
}

/** Forms **/
input.btn-primary, input.btn-primary:hover, input.btn-primary:focus, input.btn-primary:active, input.btn-primary:focus{
    background-color: #2ecc71 !important;
    text-transform: uppercase;
    border-color: #2ecc71 !important;
    box-shadow: none !important;
}
@media only screen and (max-width: 600px) {
    .wrapper section article {
        width: 80%;
    }
    .wrapper section:after {
        height: 15em;
    }
}